Working buy and sell interface/SpaceGame/resourceListCostDescript.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Resources">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Res">
          <xs:complexType>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="Price" type="xs:unsignedShort" use="required" />
            <xs:attribute name="Descrp" type="xs:string" use="optional" />
            <xs:attribute name="loc" type="xs:string" use="required" />
            <xs:attribute name="Descp" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>